@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.portfolioImgs {
  height: 300px;
  width: 400px;
}

.portfolioLink {
  text-decoration: none;
  color: white;
  font-family: 'Spline Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 50px;
  position: relative;
}

.portfolioHeader {
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
}

.portfolioLinks {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.portfolioPage {
  display:flex;
  flex-direction: column;
  justify-content:center;
  padding-bottom: 50px;
}

.portfolioDescription {
  position: relative;
  color: black;
  font-size: 16px;
}

.portfolioPiece {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  width: 550px;
  border: solid;
  border-color: white;
  border-radius: 5%;
  margin: 20px;
  color: black;
  font-family: 'Spline Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 10px 10px 10px;
}

.title {
  position: relative;
  bottom: 20px;
  font-family: 'Spline Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: black;
}

@media only screen and (max-width: 550px) {

.portfolioPiece {
width: 80vw;
height: 50vh;
}

.portfolioImgs {
  position: relative;
  top: 15px;
  width: 70vw;
  height: 30vh;
}

.title{
  position: relative;
  top: 5px;
  font-size: 24px;
}

.portfolioDescription {
  font-size: 14px;
}

}