@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


iframe.resumePdf {
width: 50vw;
height: 50vh;
}

.resumeHeader {
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
}